
<body id="page-static">
    <%= render "layouts/navbar" %>

<div class="container">
	<div class="row">
		<h1 id="title-codec">Code de conduite</h1>
	<div class="codec-content">
        <div role="tabpanel">
            <div class="col-sm-3">
                <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
                    <li role="presentation" class="brand-nav"><a href="#tab1" aria-controls="tab1" role="tab" style="width: 150px;color: black;" data-toggle="tab" >Fraternité</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab2" aria-controls="tab2" role="tab" style="width: 180px;color: black;" data-toggle="tab">Coopération</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab3" aria-controls="tab3" role="tab" style="width: 180px;color: black;" data-toggle="tab">Discipline</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab" style="color: black;">Respect</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab" style="color: black;">Perfectionnement et developpement permanent</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab6" aria-controls="tab6" role="tab" style="width: 180px;color: black;" data-toggle="tab">Leadership</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab7" aria-controls="tab7" role="tab" style="width: 190px;color: black;" data-toggle="tab">Inspiration</a></li>
                    <li role="presentation" class="brand-nav"><a href="#tab8" aria-controls="tab8" role="tab" data-toggle="tab"style="color: black;">Plaisir</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="tab-content" id="codec-tab">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <p>
                         Les Instructeurs de la Gracie Barra doivent renforcer l'esprit de famille chez les élèves, les parents et les autres instructeurs. Leur attitude doit toujours être positive et coopérative, afin de canaliser leur énergie créative dans le but de renforcer et de faire croître notre famille, en faisant toujours passer l'équipe devant les besoins individuels égoïstes.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <p>
                         Les Instructeurs de la Gracie Barra doivent cultiver et renforcer un environnement de coopération à l'intérieur et en dehors du dojo. Ils doivent s'assurer que l'esprit et l'attitude de compétition sont réservés aux tournois. Ils doivent faire comprendre aux élèves que le progrès ne se reflète pas dans leur capacité à dominer un partenaire d'entraînement ou un concurrent en compétition, mais se reflète plutôt dans leur capacité à participer à une expérience de formation coopérative où le vainqueur est celui qui apprend le plus.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <p>
                         Les Instructeurs de la Gracie Barra doivent constamment discipliner les élèves et ne jamais les punir. Ils doivent faire comprendre aux élèves que, sans discipline, il n'existe pas de maîtrise, ni en Jiu Jitsu, ni dans la vie, et que sans la volonté du sacrifice, l'excellence n'est tout simplement pas possible à atteindre.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab4">
                        <p>
                         Les Instructeurs de la Gracie Barra doivent s'assurer que les élèves agissent avec chaleur et égalité les uns envers les autres, indépendamment de leurs différences d'origine, de croyance, de sexe, de nationalité, etc. La hiérarchie des grades de ceintures doit être respectée et l'autorité de la Ceinture Noire sincèrement reconnue. 
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab5">
                        <p>
                         Les Instructeurs de la Gracie Barra doivent insister sur le fait que le Jiu Jitsu Brésilien est un parcours de longue haleine et sans point final. Les élèves doivent considérer la Ceinture Noire comme leur objectif minimum, et que leurs progrès représentent un engagement croissant à leur développement à la fois en tant que pratiquants de JJB qu'en tant qu'être humain. 
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab6">
                        <p>
                         Les Instructeurs de la Gracie Barra doivent prêcher par l'exemple, la bienveillance et l'attention. L'autorité formelle doit toujours être soutenue par leur autorité morale, qui repose sur une attitude positive, coopérative et constructive à l'égard des élèves et des autres instructeurs.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab7">
                        <p>
                         Les Instructeurs de la Gracie Barra doivent comprendre l'importance qu'ils ont sur la vie des élèves en tant que modèles, ainsi que leur responsabilité à faire ressortir le meilleur en chacun.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab8">
                        <p>
                         Les Instructeurs de la Gracie Barra doivent considérer le fait d'enseigner à une classe comme un privilège et jamais comme un fardeau. Chaque classe représente la réalisation d'un rêve, l'oeuvre de leur vie. Ils doivent apprécier chaque minute et enseigner, comme si c'était leur dernière chance d'avoir un impact positif sur la vie des élèves.
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render "layouts/footer" %>
</body>
