<%= render "layouts/navbar" %>
<body id="page-static">
<h1> Planning </h1>
<div class="card" style="width: 38%; height: 40%;">
  <%= image_tag "planning.jpg", :class => "card-img-top"   %>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</body>
<%= render "layouts/footer" %>
