<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

</head>
<body>

  <h1>Un visiteur souhaite faire un cours d'essai</h1>

    <p> 
      Nom du visiteur : <%= @visitor_name %>
    </p>
    <p>
      Mail du visiteur: <%= @visitor_email %>
    </p>
    <p>
      Téléphone du visiteur : <%= @visitor_phone %>
    </p>
    <p> Le message du visiteur: <%= @visitor_text %> ! </p>

</body>
</html>