/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/css/bootstrap.min
 *= require agency.min
 */

/*  STRIPE START*/
.container-charges{
	display: flex;
	
	height: 300px;
	align-items: center;

}

.container-1-charges{
	margin: auto;
	text-align: center;
	border: solid;
	border-width: 1px;
	padding: 15px;
}
/*  STRIPE END*/

/*   ADMIN DASHBOARD */

.div-admin-header{

	display: flex;
	justify-content: space-around;
	margin: 20px 5px 0 5px;
}
.div-admin-main-stats{
	display: flex;
	justify-content: space-between;
}

.div-admin-stats{
	border: solid;
	border-width: 1px;
	width: 50%;
	padding: 20px;
	margin: 20px;
	border-radius: 3px;
}
.div-admin-stats-2{
	
	width: 50%;
	padding: 20px;
	margin: 20px;
}

.div-admin-name{
	font-weight: bold;
	margin: 5px 0 15px 0;
}

.div-main{
	border-top: solid;
	border-bottom: solid;
	border-left: solid;
	border-width: 1px;
	margin: 20px 5px 20px 5px;
}
.div-admin-table{
	border-bottom: solid;
	border-width: 1px;
	display: flex;
	justify-content: row;
	font-weight: bold;
	font-size: large;

}
.div-admin-table-2{
	display: flex;
	justify-content: row;
}

.div-admin-table-1{
	
	border-right: solid;
	border-width: 1px;
	width: 150px;
	min-width: 60px;
	padding: 1px 3px 1px 10px;
	
}
.div-admin-table-1-long{
	border-right: solid;
	border-width: 1px;
	width: 250px;
	min-width: 60px;
	padding: 1px 3px 1px 10px;
	
}
.div-admin-table-1-bis{
	
	border-right: solid;
	border-width: 1px;
	width: 35px;
	min-width: 30px;
	padding: 1px 3px 1px 10px;
}

.div-admin-table-bis-2{
	border-right: solid;
	border-width: 1px;
	width: 70px;
	min-width: 60px;
	padding: 1px 3px 1px 5px;
	font-weight: bold;
}
.div-admin-table-bis-3{
	border-right: solid;
	border-width: 1px;
	width: 95px;
	min-width: 60px;
	padding: 1px 3px 1px 5px;
}

.div-admin-table-bis-4{
	border-right: solid;
	border-width: 1px;
	width: 105px;
	min-width: 60px;
	padding: 1px 3px 1px 5px;
}

.div-searsh-bar{
	width: 30%;
	margin: 15px;
}


/*   ADMIN DASHBOARD */

/* Code de conduite (CodeC) PAGES*/
#title-codec {
    margin-left: 37%;
    margin-bottom: 60px;
    margin-top: 5%;
}

@media (min-width: 768px) {

    .brand-pills > li > a {
        border-top-right-radius: 0px;
    	border-bottom-right-radius: 0px;
    }
    
    li.brand-nav.active a:after{
    	content: " ";
    	display: block;
    	width: 0;
    	height: 0;
    	border-top: 20px solid transparent;
    	border-bottom: 20px solid transparent;
    	border-left: 9px solid #428bca;
    	position: fixed;
    	top: 50%;
    	margin-top: -20px;
    	left: 100%;
    	z-index: 2;
    }
}

.codec-content {
	
}

#codec-tab {
	margin-top: 10%;
}












